.range__wrapper-disabled .range__bar {
  background-color: $grey;
  cursor: no-drop;
}

.range__wrapper-disabled .range__toggle {
  border: 2px solid $grey;
  cursor: no-drop;
}

.range__input-disabled,
.range__input:disabled {
  color: $grey;
  border: 2px solid $light-grey;
  cursor: no-drop;
}

.radio__label-disabled,
.radio__input:disabled+.radio__label,
.checkbox__span-disabled,
.checkbox__input:disabled+.checkbox__span {
  color: $grey;
  cursor: no-drop;
}

.radio__label-disabled::before,
.radio__input:disabled+.radio__label::before {
  border: 2px solid $light-grey;
  cursor: no-drop;
}

.radio__label-disabled-checked::after,
.radio__input:checked.radio__input:disabled+.radio__label::after {
  background-color: $light-grey;
  transform: scale(0.75);
  cursor: no-drop;
}

.checkbox__span-disabled::before,
.checkbox__input:disabled+.checkbox__span::before {
  background-color: $light-grey;
  cursor: no-drop;
}

.checkbox__span-disabled-cheked::after,
.checkbox__input:checked.checkbox__input:disabled+.checkbox__span::after {
  background-color: $grey;
  cursor: no-drop;
}


.checkbox__span-disabled-cheked:hover::before,
.checkbox__input:checked.checkbox__input:disabled+.checkbox__span:hover::before,
.checkbox__input:disabled+.checkbox__span:hover::before {
  border: 2px solid $light-grey;
}
