.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__fieldset-checkbox {
  margin-bottom: 7px;
}

.form__fieldset-legend {
  margin-bottom: 21px;
  padding: 0;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $black;
}

.form__fieldset-legend-checkbox {
  margin-bottom: 20px;
}

.form__fieldset-list {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.range__wrapper {
  display: flex;
  align-items: center;
  min-height: 24px;
  margin-bottom: 26px;
}

.range__scale {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: $light-grey;
  border: none;
  box-shadow: none;
}

.range__bar .range__toggle {
  display: none;
}

.range__nojs .range__bar,
.noUi-connect {
  display: block;
  position: absolute;
  width: 93%;
  height: 4px;
  background-color: $primary-lighter;
}

.noUi-connect {
  width: 100%;
}

.range__nojs .range__toggle,
.noUi-handle.noUi-handle-lower,
.noUi-handle.noUi-handle-upper {
  display: block;
  position: absolute;
  top: -9px;
  width: 24px;
  height: 24px;
  background: $white;
  border-radius: 50%;
  border: 2px solid $primary-lighter;
}

.noUi-handle.noUi-handle-lower,
.noUi-handle.noUi-handle-upper {
  top: -11px;
}

.range__toggle::after,
.noUi-handle::before,
.noUi-handle::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -1px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: scale(0);
  transition-duration: 0.4s;
  transition-property: transform;
}

.toggle-max::after {
  left: -2px;
}

.range__toggle:hover::after,
.range__toggle:focus::after {
  transform: scale(0.75) translate(0, 1px);
  background-color: $primary-opacity;
}

.noUi-handle:hover::before,
.noUi-handle:hover::after,
.noUi-handle:focus::before,
.noUi-handle:focus::after {
  transform: scale(0.75) translate(-1px, 0);
  background-color: $primary-opacity;
}

.range__toggle:active::after {
  transform: scale(0.75) translate(0, 1px);
  background-color: $primary;
}

.noUi-handle:active::before,
.noUi-handle:active::after {
  transform: scale(0.75) translate(-1px, 0);
  background-color: $primary;
}

.toggle-max {
  right: 0;
}

.toggle-max:hover::after,
.toggle-max:focus::after,
.toggle-max:active::after {
  transform: scale(0.75) translate(1px, 1px);
}

.range__count {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  flex-wrap: wrap;
  gap: 16px;
}

.range__input {
  width: 116px;
  height: 37px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $black;
  background: $white;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
  outline: none;
  appearance: none;
}

.range__input:focus {
  border: 2px solid $primary-darken;
}

.range__input-min {
  color: $grey;
}

.range__span {
  height: 30px;
  font-family: inherit;
  font-size: 30px;
  color: $grey;
}

.form__fieldset-legend-radio {
  margin-bottom: 21px;
}

.radio__item {
  position: relative;
  margin-left: 33px;
}

.radio__label,
.checkbox__label {
  position: relative;
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  cursor: pointer;
}

.radio__label::before,
.radio__label::after {
  content: "";
  position: absolute;
  top: 0.1vw;
  left: -34px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid $grey;
  transition-duration: 0.4s;
  transition-property: transform;
}

.radio__label::after {
  background-color: $primary;
  border: none;
  transform: scale(0);
}

.radio__input:checked+.radio__label::before {
  border: 2px solid $primary;
}

.radio__input:checked+.radio__label::after {
  transform: scale(0.75);
}

.radio__label:hover::before,
.radio__label:focus::before {
  border: 2px solid $primary;
}

.radio__label:hover::after,
.radio__label:focus::after {
  background-color: $primary-opacity;
  transform: scale(0.7);
}

.checkbox__item {
  margin-left: 53px;
}

.checkbox__span {
  position: relative;
}

.checkbox__span::before {
  content: "";
  position: absolute;
  left: -53px;
  width: 42px;
  height: 24px;
  background-color: $grey;
  border-radius: 12px;
  transform: translate(0, 1px);
  transition: 0.4s ease-in-out;
}

.checkbox__span::after {
  content: "";
  position: absolute;
  left: -51px;
  border: none;
  width: 20px;
  height: 20px;
  background-color: $white;
  border-radius: 50%;
  transform: translate(0, 3px);
  transition: 0.4s ease-in-out;
}

.checkbox__span:hover::before,
.checkbox__span:focus::before {
  background-color: $primary-opacity;
  border: 2px solid $primary-lighter;
}

.checkbox__input:checked+.checkbox__span::before {
  background-color: $primary;
}

.checkbox__input:checked+.checkbox__span::after {
  transform: translate(18px, 3px);
}

.form__fieldset-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  margin: auto;
}

.form__fieldset-button {
  width: max-content;
  padding: 11px 12px;
  font-size: 13.5px;
}

.form__fieldset-button-reset {
  padding: 11px 16px;
  font-size: 14px;
}

.form__fieldset-select {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.form__fieldset-legend-select {
  margin-top: 0;
  margin-bottom: 20px;
}

.select-nojs .select__control {
  display: flex;
}

.select-nojs .select__control-div {
  display: none;
}

.select__control {
  display: none;
  margin: 0;
  padding: 3px 30px 3px 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: $primary;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  background-image: url("../../img/icons-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
}

.select__control-title {
  position: relative;
  margin: 0;
  padding: 3px 30px 3px 10px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: $primary;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.select__control-title::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 25px;
  background-image: url("../../img/icons-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.select__control:hover,
.select__control:focus,
.select__control-title:hover,
.select__control-title:focus {
  background-color: $secondary;
  border-radius: 4px;
}

.select__control-div {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
}

.select__control-div[data-state="active"] {
  .select__control-content {
    display: flex;
  }

  .select__control-title:active::after {
    transform: rotate(180deg);
  }

  .select__control-input+.select__control-label {
    min-height: 40px;
  }
}

.select__control-content {
  position: absolute;
  top: 32px;
  right: 0;
  display: none;
  flex-direction: column;
  width: 120%;
  height: auto;
  transition: all 0.3s ease-out;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 1;
  overflow: hidden;
}

.select__control-input {
  display: none;

  &:checked+.select__control-label {
    display: none;
  }

  &:disabled+.select__control-label {
    opacity: 0.6;
    pointer-events: none;
  }
}

.select__control-label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 8px 20px;
  overflow: hidden;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  border-top: 2px solid $secondary;
  transition: all 0.2s ease-out;
  cursor: pointer;

  &:hover {
    background-color: $secondary;
  }

  &:active {
    color: $white;
    background-color: $primary;
  }
}

@media (min-width: $tablet) {
  .form__fieldset-legend {
    margin-bottom: 18px;
  }

  .range__wrapper {
    margin-bottom: 23px;
    margin-left: 8px;
  }

  .range__bar {
    position: absolute;
    width: 91%;
  }

  .range__count {
    margin-left: 8px;
    justify-content: flex-start;
    gap: 12px;
  }

  .range__scale {
    position: relative;
    width: 98%;
  }

  .range__input {
    width: 93px;
    height: 40px;
  }

  .toggle-min:hover::after,
  .toggle-min:focus::after,
  .toggle-min:active::after {
    transform: scale(0.75) translate(-1px, 1px);
  }

  .toggle-max:hover::after,
  .toggle-max:focus::after,
  .toggle-max:active::after {
    transform: scale(0.75) translate(1px, 1px);
  }

  .form__fieldset-buttons {
    flex-direction: row;
    grid-column: 1/-1;
    transform: translate(-27px, 0);
    gap: 32px;
    flex-wrap: wrap;
  }

  .form__fieldset-checkbox {
    margin-bottom: 37px;
  }

  .form__fieldset-button {
    padding: 11px 4.5px;
    font-size: 13px;
    letter-spacing: 0.6px;
    line-height: 17px;
  }

  .form__fieldset-select {
    justify-content: flex-end;
  }

  .select__control {
    margin-right: 4px;
    padding: 0 28px 0 0;
  }
}

@media (min-width: $desktop) {
  .form__fieldset-range {
    width: 320px;
  }

  .form__fieldset-legend {
    margin-bottom: 20px;
  }

  .range__wrapper {
    margin-left: 0;
  }

  .range__scale {
    width: 100%;
  }

  .range__bar {
    width: 93.5%;
  }

  .range__count {
    margin-left: 0;
    gap: 18px;
  }

  .range__label {
    width: 135px;
  }

  .range__input {
    width: 135px;
  }

  .toggle-min:active::after,
  .toggle-min:focus::after,
  .toggle-min:hover::after {
    transform: scale(1) translate(0, 0);
  }

  .toggle-max:active::after,
  .toggle-max:focus::after,
  .toggle-max:hover::after {
    transform: scale(1) translate(1px, 0);
  }

  .form__fieldset-checkbox {
    margin-left: 0;
    margin-bottom: 8px;
  }

  .form__fieldset-buttons {
    transform: translate(0, 0);
    gap: 20px;
  }

  .form__fieldset-button-reset {
    padding: 11px 12px;
  }
}
